#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

@media (any-hover: hover) and (any-pointer: fine) {
  #main-icon {
    transition: box-shadow 0.5s ease, width 0.3s ease,
  }

  #main-icon:hover {
    cursor: pointer;
    width: 200px !important;
  }

  #main-icon:active {
    width: 180px !important;
  }
}

@media (any-hover: none), (any-pointer: coarse) {
  #main-icon {
    transition: box-shadow 0.2s ease, width 0.3s ease,
  }

  #main-icon:active {
    width: 200px !important;
  }
}