#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

@media (any-hover: hover) and (any-pointer: fine) {
  #main-icon:hover {
    cursor: pointer;
    width: 200px !important;
  }
}

#main-icon:active {
  width: 180px !important;
}